
/************ Banner Css ************/
.banner {
  padding: 150px 0 180px;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}
.banner .tagline {
  font-weight: 800;
  letter-spacing: 0.9px;
  padding: 7px 10px;
  background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 20px;
  margin-bottom: 30px;
  display: inline-block;
}
.banner h1 {
  font-size: 55px;
  font-weight: 600;
  letter-spacing: 0.9px;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
  line-height: 1;
}

.banner img {
  display: flex;
  border-radius: 50px;
  max-width: 370px;
  padding-top: 20px;
  animation: updown 4s linear infinite;
}

@keyframes updown {
    0% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(-20px);
    }
}
.txt-rotate > .wrap {
  border-right: 0.05em solid #666;
}

.wrap{
  display: inline-block;
}